.password-change-form {
	border: 1px solid #393E46;
	margin-top: -1px;
}
.password-change-form .submit-button {
	float: right;
	margin-bottom: 10px;
	min-width: 140px;
}
.password-change-form .input-field {
	margin-left: 50px;
}
.password-change-form .title {
	margin-left: 10px;
	margin-bottom: 7px;
}