.profile-info .profile-image {
	text-align: center;
} 
.profile-info .profile-image .user-image {
	border-radius: 100%;
	height: 150px;
	width: 150px;
	display: block;
	margin: 0 auto 10px auto;
}
.profile-info .user-summary {
	text-align: center;
	margin-top: 5px;
} 
.profile-info .full-name {
	font-size: 2em;
}
.edit-profile {
	margin-bottom: 30px;
}
.profile-form {
	padding-left: 15px;
}
.edit-profile .submit-button[disabled] {
	cursor: default;
}