.profile-image .upload-button {
	position: relative;
	overflow: hidden;
	cursor: pointer;
}
.profile-image .upload-button input[type=file] {
	position: absolute;
	padding: 4px 0;
	cursor: pointer;
	opacity: 0;
	bottom: 0;
}