.profile-edit-form {
	border: 1px solid #393E46;
	margin-top: 42px;
}
.profile-edit-form .submit-button {
	float: right;
	margin-bottom: 10px;
	min-width: 140px;
}
.profile-edit-form .input-field {
	margin-left: 50px;
}
.profile-edit-form .title {
	margin-left: 10px;
	margin-bottom: 7px;
}
