.register .registration-form > .input-field {
	margin: 0 auto;
	width: 100%;
	max-width: 400px;
}
.register .registration-form .input-group {
	width: 100%;
}
.register h2 {
	text-align: center;
}
.submit-button {
	text-align: center;
	margin: 20px;
}