.navbar {
	float: right;
	margin-bottom: 5px;
}
.navbar button {
	background-color: #0092CA;
	color: white;
}
.navbar button:focus {
	color: white;
}
.navbar button:hover {
	color: white;
}
.navbar button a {
	color: white;
	text-decoration: none;
}
.navbar a:not(:first-child) button {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-radius: 0;
	margin-left: -1px;
}