body {
	background-color: #222831;
	font-family: 'Roboto', sans-serif;
	color: #bec1c5;
}
.layout {
	overflow: auto;
}
.no-results {
	text-align: center;
}
.askit-blue {
	color: #0092CA;
}
#root .layout .askit-blue-button,
.modal-dialog .askit-blue-button {
	background-color: #0092CA;
	border-color: #0092CA;
	color: #bec1c5;
}
.body-content-margin {
	margin-left: 22px;
	margin-right: 22px;
}