.questions-list .question {
	margin-top: 20px;
	border: 1px solid #393E46;
	padding: 5px 8%;
}
.questions-list .question a {
	text-decoration: none;
	color: #bec1c5;
}
.questions-list .question .question-text {
	font-size: 1.3em;
	word-wrap: break-word;
}
.questions-list .question .vote-comment > div {
	margin-left: 7px;
	margin-right: 7px;
	user-select: none;
}
.questions-list .question .vote-comment span.glyphicon {
	font-size: 1.3em;
	margin: 4px;
}
.questions-list .question .vote-comment .vote-icon span.glyphicon {
	cursor: pointer;
}
.questions-list .question.own-question .vote-comment span.glyphicon {
	cursor: default;
}
.questions-list .question .comment-icon {
	display: inline-block;
	cursor: default;
}
.questions-list .question .comment-icon .active {
	color: #327ead;
}
.questions-list .question .user-info {
	min-height: 50px;
	margin-top: 10px;
	margin-bottom: 5px;
}
.questions-list .question .user-info .user-image {
	height: 50px;
	width: 50px;
	border-radius: 100%;
	margin: 0 10px 10px 0;
}
.questions-list .question .user-info .name-and-time {
	display: inline-block;
	position: absolute;
	margin-left: 7px;
}
.question .user-info .name-and-time > * {
	display: block;
	margin: 0;
}
.question .user-info .full-name {
	font-size: 1.2em;
}
.question .user-info .time-passed {
	font-size: 0.9em;
}

