.question-full .user-info .user-image {
	border-radius: 100%;
	height: 125px;
	width: 125px;
	margin-bottom: 10px;
}
.question-full .user-info .full-name {
	font-size: 1.5em;
	margin: 0;
}
.question-full .vote-icon {
	font-size: 2.5em;
	margin-right: 12px;
}
.question-full .vote-icon span.glyphicon {
	cursor: pointer;
}
.question-full .question-text {
	font-size: 1.5em;
	word-wrap: break-word;
}
.question-full .question-vote-icons {
	float: right;
}
.question-full.own-question .question-vote-icons .vote-icon span.glyphicon {
	cursor: auto;
}
.question-full .name-and-time {
	display: inline-block;
	margin-left: 10px;
}
