.user-statistics {
	border: 1px solid #393E46;
	position: relative;
	margin-top: 10px;
	padding: 10px;
}
.user-statistics .user-image {
	border-radius: 100%;
	height: 100px;
	width: 100px;
}
.user-statistics .full-name {
	display: inline-block;
	font-size: 1.3em;
	margin-left: 5px;
}
.user-statistics ul {
	list-style-type: none;
	font-size: 1.2em;
	margin-bottom: 0;
	padding: 0;
}
.user-statistics .statistics-container {
	display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100px;
}
@media screen and (max-width: 768px) {
	.user-statistics{
		text-align: center;
	}
	.user-statistics .full-name {
		display: block;
	}
}