.answer {
	border: 1px solid #bfbfbf;
	padding: 10px;
	margin-bottom: 5px;
	position: relative;
	min-height: 72px;
}
.answer.own-answer {
	border: 1px solid #337ab7;
	padding: 10px;
	margin-bottom: 5px;
}
.answers-list {
	margin-bottom: 30px;
	margin-top: 20px;
}
.answer .answer-button {
	position: absolute;
	right: 0;
	min-width: 74px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.answer .answer-author {
	min-height: 45px;
}
.answer .answer-author .user-image {
	border-radius: 100%;
	height: 40px;
	width: 40px;
}
.answer .answer-author .name-and-hours {
	display: inline-block;
}
.answer .answer-author .full-name {
	margin-left: 10px;
	display: inline-block;
}
.answer .answer-author .hours-passed {
	display: inline-block;
	margin-left: 10px;
}
.answer .vote-icons,
.answer .answer-text {
	margin-left: 3%;
}
.answer textarea.edit-answer-input {
	height: 100%;
	width: 100%;
	border: 0;
	outline: none;
	resize: none;
	padding-right: 85px;
	background-color: #222831;
}
.answer .answer-text {
	word-wrap: break-word;
	margin-right: 15px;
}
.enter-answer .enter-answer-view textarea {
	resize: none;
	color: #222831;
	width: 100%;
}
.enter-answer .enter-answer-view button {
	display: block;
}
.answer.answer-view .vote-icon {
	font-size: 1.2em;
}
.answer.answer-view.own-answer .vote-icon .glyphicon {
	cursor: auto;
}
.answer.own-answer .answer-icons {
	display: inline-block;
    position: absolute;
    bottom: 2px;
    right: 2px;
}
.answer.own-answer .answer-icons>span {
	cursor: pointer;
	margin: 0 3px;
}
@media screen and (max-width: 768px) {
	.answer .answer-author {
		min-height: 50px;
	}
	.answer .answer-author .name-and-hours {
		position: absolute;
		margin-left: 7px;
	}
	.answer .answer-author .name-and-hours > * {
		display: block;
		margin: 0;
	}
}